<h2>Products</h2>

<div *ngFor="let productObj of productList">
  <h3>
    <a 
      [title]="productObj.name + ' details'"
      [routerLink]="['/products', productObj.id]"
    >
      {{ productObj.name }}
    </a>
  </h3>
  <p *ngIf="productObj.description">Description: {{ productObj.description }}</p>

  <button type="button" (click)="shareMarek()">Share</button>

  <app-product-alerts 
    [product]="productObj"
    (notifyEvent1)="onNotify()"
  > 
  </app-product-alerts>
  
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
